/* TopMenu.css */
.menu {
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
  }
  