/* TopMenu.css */
.menu {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    margin-top:20px;
    margin-bottom:50px;
    background-color:#00A9FF;
    height:100px;
  }

  .menu div{
    margin:0 10px;
    border:none;
    flex:1;
    border-radius: 6px;
    color:white;
    font-size:40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease;
  }

  .menu div:hover{
    color:red;
    cursor:pointer;
  }
  
  