@import "../../../responsive.scss";

.homePage{
    display: flex;
    height:auto;
    


    .textContainer{
       flex:3;
       background-color: white;
       padding:20px;
       height:auto;
       
       .wrapper{
        display: flex;
        flex-direction: column;
        gap:50px;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;

       }     
         

       

       .cards-container{
         display: flex;
         flex-direction: row;
         gap:10px;
         margin-top: 20px;
       }
       
    }

    .imageContainer{
       flex:2;
       background-color: bisque;
       position:relative;
       display:none;
       align-items: center;

       img{
        width:115%;
        position:absolute;
        right:0;
       }

       @include sm{
        display: none;
       }

    }
}